.Body {
  height: 100vh;
  width: 100%;
  padding:0px;
  margin:0px;
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: rgb(203, 235, 235);
  background-color: white;
  background-image: url("/src/components/Assets/bg3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Appbody{
  border: 2px solid black;
  border-radius: 20px;
  height: 75vh;
  width: 70%;
  background-color: white;
  background-image: url("/src/components/Assets/bg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Appheader1{
  display:flex;
  justify-content: space-between;
  align-items: center; 
  border: 2px solid rgb(186, 225, 239);
  border-radius: 20px 20px 5px 5px;
  background: rgb(53,45,193);
  background: linear-gradient(135deg, rgba(53,45,193,1) 13%, rgba(0,53,217,1) 34%, rgba(64,4,197,1) 53%, rgba(191,70,198,1) 100%);
}

.Appheader2{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px; 
}

.Apptitle2 .datetitle {
  font-weight: 700;
}

.datetitle{
  margin-right: 40px;
}

.dateTime{
  display:flex;
  justify-content: end;
  align-items: center;
}

.weatherIcon{
  font-size: 100px;
}

.weather{
  display:flex;
  justify-content: space-start;
  align-items: center;
}

.weatherReport{
 
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.mainIcon{
  height: 150px;
  width:150px;
}

.boxes{
  border:1px solid rgb(208, 208, 208);
  border-radius: 10px;
  padding: 5px;
  
}

@media (max-width: 768px) {
  .Appbody {
    width: 90%; 
    height: 95vh;
  }

  .Appheader1{
    padding:5px;
  }
  
  .dateTime{
    display: flex;
    flex-direction: column; 
    align-items: end;
  } 

  .Apptitle2{
    font-size: 40px;
  }

  .datetitle{
    font-size: 15px;
    margin-right: 0px;
  }

  .mainIcon{
    height: 100px;
    width:120px;
  }

  .boxes{
    border:1px solid rgb(214, 200, 200);
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 8px;
    
  }
  
}